:root {
  --mly-heading-color: #101828;
  --mly-paragraph-color: #364153;
  --mly-code-background-color: #efefef;
  --mly-code-padding-x: 6px;
  --mly-selection-background-color: rgba(35, 131, 226, 0.28);
  --mly-horizontal-rule-color: #ebe6e7;
  --mly-bullets-color: #d1d5dc;
  --mly-blockquote-border-color: #d1d5db;
  --mly-footer-color: #64748b;

  --mly-hljs-token-tag: #00c951;
  --mly-hljs-meta-string: #2b7fff;
  --mly-hljs-attribute: #ad46ff;
  --mly-hljs-tag: #313233;
  --mly-hljs-meta: #313233d6;

  /* Font */
  --mly-font-family: 'Inter';
  --mly-font-fallback-family: sans-serif;
  --mly-font: var(--mly-font-family), var(--mly-font-fallback-family);

  /* Body */
  --mly-body-background-color: #ffffff;
  --mly-body-padding-top: 0;
  --mly-body-padding-right: 0;
  --mly-body-padding-bottom: 0;
  --mly-body-padding-left: 0;

  /* Container */
  --mly-container-background-color: #ffffff;
  --mly-container-max-width: 600px;
  --mly-container-min-width: 300px;
  --mly-container-padding-top: 8px;
  --mly-container-padding-right: 8px;
  --mly-container-padding-bottom: 8px;
  --mly-container-padding-left: 8px;
  --mly-container-border-radius: 0;
  --mly-container-border-width: 0;
  --mly-container-border-color: transparent;

  /* Button */
  --mly-button-background-color: #000000;
  --mly-button-text-color: #ffffff;
  --mly-button-padding-top: 10px;
  --mly-button-padding-right: 32px;
  --mly-button-padding-bottom: 10px;
  --mly-button-padding-left: 32px;

  /* Link */
  --mly-link-color: #111827;
}

#mly-editor {
  .ProseMirror-hideselection * {
    @apply mly:caret-transparent;
  }

  img.ProseMirror-separator {
    @apply mly:m-0! mly:inline! mly:h-0! mly:w-0! mly:border-none!;
  }

  .selection {
    @apply mly:bg-(--mly-selection-background-color) mly:box-decoration-clone mly:py-[2.5px];
  }

  .ProseMirror {
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: 'liga' 0;

    @apply mly:relative mly:whitespace-break-spaces mly:[word-wrap:break-word] mly:focus:outline-none;

    .ProseMirror-selectednode::after {
      --background-color: var(
        --mly-selection-background-color,
        rgba(35, 131, 226, 0.14)
      );
      @apply mly:pointer-events-none mly:absolute mly:inset-[-2px] mly:rounded-md mly:bg-(--background-color) mly:content-[''];
    }

    @import './nodes/_paragraph.css';
    @import './nodes/_heading.css';
    @import './nodes/_list.css';
    @import './nodes/_blockquote.css';
    @import './nodes/_code.css';
    @import './nodes/_link.css';
    @import './nodes/_mark.css';
    @import './nodes/_image.css';
    @import './nodes/_spacer.css';
    @import './nodes/_horizontal-rule.css';
    @import './nodes/_section.css';
    @import './nodes/_columns.css';
    @import './nodes/_footer.css';
    @import './nodes/_button.css';
    @import './nodes/_syntax-highlight.css';
    @import './nodes/_visibility.css';
    @import './nodes/_placeholder.css';
    @import './nodes/_html-code-block.css';
    @import './nodes/_link-card.css';
  }
}
