:root {
  --placeholder-color: #adb5bd;
  --bg-color: #ffffff;

  --variable-icon-size: 12px;
  --variable-icon-gap: 4px;
}

.mly-editor .mly-prose p:where([class~='text-sm']) {
  font-size: 16px;
}

.mly-editor .mly-prose h1,
.mly-editor .mly-prose h2,
.mly-editor .mly-prose h3 {
  margin-top: 0;
  margin-bottom: 12px;
}

.mly-editor .mly-prose h1 {
  font-size: 36px;
}

.mly-editor .mly-prose h2 {
  font-size: 30px;
}

.mly-editor .mly-prose h3 {
  font-size: 24px;
}

.mly-editor .mly-prose p {
  font-size: 15px;
  margin-bottom: 20px;
}

.mly-editor .mly-prose h1 + p,
.mly-editor .mly-prose h2 + p,
.mly-editor .mly-prose h3 + p,
.mly-editor .mly-prose hr + p,
.mly-editor .mly-prose table + p {
  margin-top: 0;
}

.mly-editor .mly-prose ol,
.mly-editor .mly-prose ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.mly-editor .mly-prose li:not(:last-child) {
  margin-bottom: 8px;
}

.mly-editor .mly-prose li > p {
  margin: 0;
}

.mly-editor .mly-prose img {
  margin-top: 0;
  margin-bottom: 32px;
}

.mly-editor .mly-prose hr {
  margin-block: 32px;
}

.mly-editor .mly-prose .footer {
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  color: rgb(100, 116, 139);
}

.mly-editor .mly-prose .spacer + * {
  margin-top: 0;
}

.mly-editor .mly-prose p + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose blockquote + .spacer {
  margin-top: -16px;
}

.mly-editor .mly-prose h1 + .spacer,
.mly-editor .mly-prose h2 + .spacer,
.mly-editor .mly-prose h3 + .spacer {
  margin-top: -12px;
}

.mly-editor .mly-prose ol + .spacer,
.mly-editor .mly-prose ul + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose img + .spacer {
  margin-top: -32px;
}

.mly-editor .mly-prose .node-button + .spacer,
.mly-editor .mly-prose .node-linkCard + .spacer,
.mly-editor .mly-prose footer + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose .node-button,
.mly-editor .mly-prose .node-linkCard {
  margin-top: 0;
  margin-bottom: 20px;
}

.mly-editor .mly-prose .node-image {
  line-height: 0;
  margin-top: 0;
  margin-bottom: 32px;
  outline: none;
}

.mly-editor .mly-prose .node-image + .spacer {
  margin-top: -32px;
}

/* Remove code ::before and ::after */
.mly-editor .mly-prose code::before,
.mly-editor .mly-prose code::after {
  content: none;
}

/* Chrome, Safari and Opera */
.mly-no-scrollbar::-webkit-scrollbar {
  display: none;
}

.mly-no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mly-editor .react-colorful__alpha {
  border-radius: 0;
}

.mly-editor .react-colorful__saturation,
.mly-editor .react-colorful__hue,
.mly-editor .react-colorful__alpha {
  border-radius: 8px;
}

.mly-editor .react-colorful__hue,
.mly-editor .react-colorful__alpha {
  height: 16px;
}

.mly-editor .react-colorful__pointer {
  width: 16px;
  height: 16px;
}

.ProseMirror-selectednode {
  outline: 3px solid #555;
}

.mly-prose {
  strong {
    color: currentColor;
  }
}

.mly-editor {
  select:not([size]) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=);
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;
    padding-right: 24px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */

  &:focus {
    outline: none;
  }

  p {
    margin-top: 0;
  }

  h1 {
    --variable-icon-size: 28px;
  }

  h2 {
    --variable-icon-size: 24px;
  }

  h3 {
    --variable-icon-size: 20px;
  }

  h1,
  h2,
  h3 {
    --variable-icon-gap: 8px;
  }

  .is-editor-empty:first-child:not(
      [data-type='columns'],
      [data-type='section'],
      ul,
      li,
      ol
    )::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--placeholder-color);
    pointer-events: none;
    height: 0;
  }

  .is-empty:not(
      [data-type='columns'],
      [data-type='section'],
      ol,
      ul,
      li
    )::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--placeholder-color);
    pointer-events: none;
    height: 0;
  }

  [data-type='columns'] .is-empty::before,
  [data-type='section'] .is-empty::before {
    --l-threshold: 0.66;
    --diff: calc(var(--l-threshold) - l);
    color: oklch(
      from var(--bg-color)
        clamp(0.05, max(min(var(--diff) * infinity, 1), 0), 0.95) c h
    );
  }

  [data-type='columns'] {
    display: flex;
    margin: 0;
    padding: 0;

    &.has-focus [data-type='column'],
    &:hover [data-type='column'] {
      outline: 1.5px solid #e9ecef;
      outline-style: dashed;
    }

    [data-type='column'].has-focus {
      outline-style: solid;
    }
  }

  [data-type='column'] {
    display: table-cell;
    flex-basis: 0;
    flex-grow: 1;
    overflow: auto;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  [data-type='section'] {
    margin: 0;
    padding: 0;

    [data-type='section-cell'] {
      padding: 0;
      & > *:first-child {
        margin-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  [data-type='for'] {
    [data-node-view-content] > div {
      & > *:first-child {
        margin-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .node-for.has-focus [data-repeat-indicator] {
    opacity: 1;
  }

  [data-type='show'] {
    [data-node-view-content] > div {
      & > *:first-child {
        margin-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Remove margin before and after of Gap Cursor */
  *:has(+ .ProseMirror-gapcursor) {
    margin-bottom: 0 !important;
  }

  .ProseMirror-gapcursor {
    &::after {
      border: 1.5px solid gray;
      width: 24px;
    }

    & + * {
      margin-top: 0 !important;
    }
  }
}

/* Hide Number Count */
.hide-number-controls {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.hide-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
