.mly-editor .mly-prose p:where([class~='text-sm']) {
  font-size: 16px;
}

.mly-editor .mly-prose h1,
.mly-editor .mly-prose h2,
.mly-editor .mly-prose h3 {
  margin-top: 0;
  margin-bottom: 12px;
}

.mly-editor .mly-prose h1 {
  font-size: 36px;
}

.mly-editor .mly-prose h2 {
  font-size: 30px;
}

.mly-editor .mly-prose h3 {
  font-size: 24px;
}

.mly-editor .mly-prose p {
  font-size: 15px;
  margin-bottom: 20px;
}

.mly-editor .mly-prose h1 + p,
.mly-editor .mly-prose h2 + p,
.mly-editor .mly-prose h3 + p,
.mly-editor .mly-prose hr + p {
  margin-top: 0;
}

.mly-editor .mly-prose ol,
.mly-editor .mly-prose ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.mly-editor .mly-prose li:not(:last-child) {
  margin-bottom: 8px;
}

.mly-editor .mly-prose li > p {
  margin: 0;
}

.mly-editor .mly-prose img {
  margin-top: 0;
  margin-bottom: 32px;
}

.mly-editor .mly-prose hr {
  margin-block: 32px;
}

.mly-editor .mly-prose .footer {
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  color: rgb(100, 116, 139);
}

.mly-editor .mly-prose .spacer + * {
  margin-top: 0;
}

.mly-editor .mly-prose p + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose blockquote + .spacer {
  margin-top: -16px;
}

.mly-editor .mly-prose h1 + .spacer,
.mly-editor .mly-prose h2 + .spacer,
.mly-editor .mly-prose h3 + .spacer {
  margin-top: -12px;
}

.mly-editor .mly-prose ol + .spacer,
.mly-editor .mly-prose ul + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose img + .spacer {
  margin-top: -32px;
}

.mly-editor .mly-prose .node-button + .spacer,
.mly-editor .mly-prose .node-linkCard + .spacer,
.mly-editor .mly-prose footer + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose .node-button,
.mly-editor .mly-prose .node-linkCard {
  margin-top: 0;
  margin-bottom: 20px;
}

.mly-editor .mly-prose .node-image {
  line-height: 0;
  margin-top: 0;
  margin-bottom: 32px;
  outline: none;
}

.mly-editor .mly-prose .node-image + .spacer {
  margin-top: -32px;
}

/* Remove code ::before and ::after */
.mly-editor .mly-prose code::before,
.mly-editor .mly-prose code::after {
  content: none;
}

/* Chrome, Safari and Opera */
.mly-no-scrollbar::-webkit-scrollbar {
  display: none;
}

.mly-no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mly-editor .react-colorful__alpha {
  border-radius: 0;
}

.mly-editor .react-colorful__saturation,
.mly-editor .react-colorful__hue,
.mly-editor .react-colorful__alpha {
  border-radius: 8px;
}

.mly-editor .react-colorful__hue,
.mly-editor .react-colorful__alpha {
  height: 16px;
}

.mly-editor .react-colorful__pointer {
  width: 16px;
  height: 16px;
}

.ProseMirror-selectednode {
  outline: 3px solid #555;
}

.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */

  &:focus {
    outline: none;
  }

  .is-editor-empty:first-child:not(
      [data-type='columns'],
      [data-type='section']
    )::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }

  .is-empty:not([data-type='columns'], [data-type='section'])::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }

  [data-type='columns'] {
    padding: 0;

    &.has-focus [data-type='column'],
    &:hover [data-type='column'] {
      /* @apply border-neutral-300 dark:border-neutral-700; */
    }

    [data-type='column'].has-focus {
      outline: 2px solid #e9ecef;
    }
  }

  [data-type='column'] {
    padding:0;
    /* @apply rounded border-2 border-dotted border-transparent p-1; */
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &:hover {
      /* @apply border-neutral-100 dark:border-neutral-900; */
    }

    &:has(.is-active),
    &.has-focus {
      /* @apply border-neutral-100 dark:border-neutral-900; */
    }
  }

  [data-type='section'] {
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

/* Hide Number Count */
.hide-number-controls {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
