.mly-editor .mly-prose p:where([class~='text-sm']) {
  font-size: 16px;
}

.mly-editor .mly-prose h1,
.mly-editor .mly-prose h2,
.mly-editor .mly-prose h3 {
  margin-top: 0;
  margin-bottom: 12px;
}

.mly-editor .mly-prose h1 {
  font-size: 36px;
}

.mly-editor .mly-prose h2 {
  font-size: 30px;
}

.mly-editor .mly-prose h3 {
  font-size: 24px;
}

.mly-editor .mly-prose p {
  font-size: 15px;
  margin-bottom: 20px;
}

.mly-editor .mly-prose h1 + p,
.mly-editor .mly-prose h2 + p,
.mly-editor .mly-prose h3 + p,
.mly-editor .mly-prose hr + p {
  margin-top: 0;
}

.mly-editor .mly-prose ol,
.mly-editor .mly-prose ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.mly-editor .mly-prose li:not(:last-child) {
  margin-bottom: 8px;
}

.mly-editor .mly-prose li > p {
  margin: 0;
}

.mly-editor .mly-prose img {
  margin-top: 0;
  margin-bottom: 32px;
}

.mly-editor .mly-prose hr {
  margin-block: 32px;
}

.mly-editor .mly-prose .footer {
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  color: rgb(100, 116, 139);
}

.mly-editor .mly-prose .spacer + * {
  margin-top: 0;
}

.mly-editor .mly-prose p + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose blockquote + .spacer {
  margin-top: -16px;
}

.mly-editor .mly-prose h1 + .spacer,
.mly-editor .mly-prose h2 + .spacer,
.mly-editor .mly-prose h3 + .spacer {
  margin-top: -12px;
}

.mly-editor .mly-prose ol + .spacer,
.mly-editor .mly-prose ul + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose img + .spacer {
  margin-top: -32px;
}

.mly-editor .mly-prose .node-button + .spacer,
.mly-editor .mly-prose footer + .spacer {
  margin-top: -20px;
}

.mly-editor .mly-prose .node-button {
  margin-top: 0;
  margin-bottom: 20px;
}

.mly-editor .mly-prose .node-image {
  line-height: 0;
  margin-top: 0;
  margin-bottom: 32px;
  outline: none;
}

.mly-editor .mly-prose .node-image + .spacer {
  margin-top: -32px;
}

/* Remove code ::before and ::after */
.mly-editor .mly-prose code::before,
.mly-editor .mly-prose code::after {
  content: none;
}

.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.ProseMirror-selectednode {
  outline: 3px solid #555;
}

/* Chrome, Safari and Opera */
.mly-no-scrollbar::-webkit-scrollbar {
  display: none;
}

.mly-no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mly-editor .react-colorful__alpha {
  border-radius: 0;
}

.mly-editor .react-colorful__saturation,
.mly-editor .react-colorful__hue,
.mly-editor .react-colorful__alpha
{
  border-radius: 8px;
}

.mly-editor .react-colorful__hue,
.mly-editor .react-colorful__alpha {
  height: 16px;
}

.mly-editor .react-colorful__pointer {
  width: 16px;
  height: 16px;
}
