@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) prefix(mly);

#mly-editor {
  @import 'tailwindcss/preflight.css' layer(base) prefix(mly);
}

@import 'tailwindcss/utilities.css' layer(utilities) prefix(mly);

@import './_editor.css';
@import './_skeleton-editor.css';
@theme {
  --color-soft-gray: #f4f5f6;
  --color-midnight-gray: #333333;
  --radius-bubble-button: 10px;

  --container-resizable-image: 150px;
}

/* Hide Number Count */
@utility hide-number-controls {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

@utility hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility tiny-border {
  box-shadow: var(--mly-tiny-border-left, 0) var(--mly-tiny-border-right, 0)
    var(--mly-tiny-border-top, 0) var(--mly-tiny-border-bottom, 0)
    var(--mly-tiny-border-color, rgba(0, 0, 0, 0.1));
}

@utility tiny-border-b {
  --mly-tiny-border-bottom: 1px;
  --mly-tiny-border-color: color-mix(
    in srgb,
    var(--mly-color-gray-200) 70%,
    transparent
  );
}

@utility tiny-border-t {
  --mly-tiny-border-bottom: 1px;
  --mly-tiny-border-color: color-mix(
    in srgb,
    var(--mly-color-gray-200) 70%,
    transparent
  );
}

@utility dynamic-text-color {
  /* This swaps between white or black based on the background color. */
  /* After testing against all RGB background colors, 49.44 minimizes the number of WCAG 4.5:1 contrast failures. */
  color: lch(
    from var(--mly-dynamic-text-color-background) calc((49.44 - l) * infinity) 0
      0
  );
}

@utility node-highlight-border {
  @apply mly:outline-2 mly:-outline-offset-2 mly:outline-rose-400;
}

@utility bubble-container-border {
  @apply mly:border mly:border-gray-200/70;
}

body:has(#mly-unit-field[data-dragging='true']) {
  @apply mly:cursor-ew-resize! mly:select-none!;
  & * {
    @apply mly:pointer-events-none! mly:cursor-ew-resize!;
  }
}
