.mly-editor .mly-prose {
  p:where([class~='text-sm']):not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    font-size: 16px;
  }

  :where(h1, h2, h3):not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: 0;
    margin-bottom: 12px;
  }

  :where(h1):not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    font-size: 36px;
  }

  :where(h2):not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    font-size: 30px;
  }

  :where(h3):not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    font-size: 24px;
  }

  p:not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    font-size: 15px;
    margin-bottom: 20px;
  }

  :where(h1, h2, h3, hr, table)
    + p:not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    margin-top: 0;
  }

  :where(ol, ul):not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: 0;
    margin-bottom: 20px;
  }

  li:not(:last-child):not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-bottom: 8px;
  }

  li > p:not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    margin: 0;
  }

  :where(img, .node-logo):not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: 0;
    margin-bottom: 32px;
  }

  hr:not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    margin-top: 0;
  }

  .footer:not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    display: block;
    font-size: 13px;
    margin-bottom: 20px;
    color: rgb(100, 116, 139);
  }

  .spacer
    + *:not(:where([class~='mly-not-prose'], [class~='mly-not-prose'] *)) {
    margin-top: 0;
  }

  p
    + .spacer:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: -20px;
  }

  blockquote
    + .spacer:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: -16px;
  }

  :where(h1, h2, h3)
    + .spacer:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: -12px;
  }

  :where(ol, ul)
    + .spacer:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: -20px;
  }

  :where(img, .node-logo)
    + .spacer:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: -32px;
  }

  :where(.node-button, .node-linkCard, footer)
    + .spacer:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: -20px;
  }

  :where(.node-button, .node-linkCard):not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .node-image:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    line-height: 0;
    margin-top: 0;
    margin-bottom: 32px;
    outline: none;
  }

  .node-image
    + .spacer:not(
      :where([class~='mly-not-prose'], [class~='mly-not-prose'] *)
    ) {
    margin-top: -32px;
  }

  code::before,
  code::after {
    content: none;
  }
}
